extends menu 
block content
  .container
    h1 Update Password
    if error
      .error-message= error
    .input-box
      form(method="post")
        if user.status === 'temporary'
          input(type="hidden", name="old_password")
        else
          input(type="password", name="old_password", placeholder="Old Password", required)
        br
        input(type="password", name="new_password", placeholder="New Password", required)
        br
        input(type="password", name="confirm_password", placeholder="Confirm New Password", required)
        br
        input(type="submit", value="Update Password")
