doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Welcome to Petco's Live Animal Website
    link(rel="stylesheet", href="/stylesheets/login.css")
  body
    .container
      h1 Welcome to Petco's Live Animal Website

      if errors && errors.length
        .error-messages
          each error in errors
            p.error #{error}

      .input-box
        form(method="post")
          input(type="text", name="username", placeholder="Username", required)
          br
          input(type="password", name="password", placeholder="Password", required)
          br
          input(type="submit", value="Login")
      p
        a(href="#") Forgot Password?