extends menu

block content
  if !allocation
    p This allocation is not ready for review.
  else
    .form-container
      if !permissions.canViewAllocParams
        //- Nothing is rendered if the user cannot view allocation parameters
      else if permissions.canUpdateAllocParams && allocation.alloc_status === 'Setup'
        include allocation_form/allocation_form_editable
        include allocation_form/buttons
        include allocation_form/alloc_params_table_editable
      else
        include allocation_form/allocation_form_readonly
        include allocation_form/buttons
        include allocation_form/alloc_params_table_readonly
        
      if user.user_type === 'InventoryMgmt'
        if !(allocation.alloc_status === 'Complete' || allocation.alloc_status === 'Cancelled')
          include allocation_form/alloc_lines_table_invmgt_editable
        else
          include allocation_form/alloc_lines_table_invmgt_readonly
      else 
        if allocation.alloc_status === 'RCAC Review'
          include allocation_form/alloc_lines_table_rcac_editable
        else
          include allocation_form/alloc_lines_table_rcac_readonly

  script(src='/javascripts/look-up-desc-and-costs.js')
  script(src='/javascripts/add-new-line.js')
  script(src='/javascripts/save-allocation-data.js')
  script(src='/javascripts/delete-param.js')
  script(src='/javascripts/recalc-allocation.js')
  script(src='/javascripts/save-allocation-line.js')