doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title=title
    link(rel="stylesheet", href="/stylesheets/style.css") 
  body

    // Sign-in/sign-out section
    .sign-in-out
      if user
        div.welcome-msg
          p Welcome, #{user.full_name}!  
          a(href="/petco/live-animal/logout") [Sign Out]
      else
        a(href="/petco/live-animal/login") [Sign In]

    nav.menu
      ul
        if menuOptions.allocations
          li
            a(href="/petco/live-animal/allocations", class=(currentPage === 'allocations' ? 'menu-option selected' : 'menu-option')) Allocations
        if menuOptions.users
          li
            a(href="/petco/live-animal/users", class=(currentPage === 'users' ? 'menu-option selected' : 'menu-option')) Users
        if menuOptions.rcacReviews
          li
            a(href="/petco/live-animal/allocations/reviews", class=(currentPage === 'rcac-reviews' ? 'menu-option selected' : 'menu-option')) RCAC Reviews
        if menuOptions.rcacNotes
          li
            a(href="/petco/live-animal/allocations/notes", class=(currentPage === 'rcac-notes' ? 'menu-option selected' : 'menu-option')) View RCAC Notes
        if menuOptions.vendorBreakouts
          li
            a(href="/petco/live-animal/allocations/vendor-qty-breakouts", class=(currentPage === 'vendor-breakouts' ? 'menu-option selected' : 'menu-option')) Vendor Breakouts
        li
          a(href="/petco/live-animal/accounts/update", class=(currentPage === 'change-password' ? 'menu-option selected' : 'menu-option')) Change Password

    block content
