div.button-container
    button.image-button.save
        img(src="/images/save.png", alt="Save" title="Save")
    button.image-button.recalc
        img(src="/images/recalc.png", alt="Recalc" title="Recalc Allocation")
    button.image-button.finalize
        img(src="/images/finalize.png", alt="Finalize" title="Save & Mark Allocation Review Complete")
    button.image-button.export
        img(src="/images/export.png", alt="Export" title="Export to .csv")